/* Banner.css */

@keyframes marquee {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.marquee-container {
  display: flex;
  width: 100%;
  overflow: hidden;
  position: relative;
}

.animate-marquee {
  display: inline-block;
  white-space: nowrap;
  animation: marquee linear infinite;
  animation-timing-function: linear;
}
